<!DOCTYPE html>
<html>
	<head>
		<title>
			<%= title %>
		</title>
		<%= csrf_meta_tag %>
		<%= render 'layouts/stylesheets'%>
	</head>
	<body>
		<div class="container">
			<section class="round">
				<%= render 'layouts/header'%>
				<%= yield %>
			</section>
			<section class="round">
				<%= render 'layouts/footer'%>
			</section>
		</div>
	</body>
</html>